body{
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}
.cinemaHall {
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
.seat {
  height: 35px;
  width: 35px;
  margin-right: 5px;
  background-color: #ffffff;
  display: inline-block;
  cursor: pointer;
  border-radius: 25%;
}
.passageBetween {
  height: 5px;
  width: 100%;
  display: block;
}
.bay {
  background-color: #1e7e34;
  border: 1px solid;
}
.result {
  font-size: 16px;
  display: inline-block;
  
  margin-right: 5px;
}
.res {
  max-height: 200px;
  overflow-y: auto;
}
.date, .hall, .res{
  border-radius: 20px;
}

.orded{
  background-color: #dc3545;
}