body{
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}
.cinemaHall {
  display: inline-block;
}
.seat {
  height: 35px;
  width: 35px;
  margin-right: 5px;
  background-color: #ffffff;
  display: inline-block;
  cursor: pointer;
  border-radius: 25%;
}
.passageBetween {
  height: 5px;
  width: 100%;
  display: block;
}
.bay {
  background-color: #1e7e34;
}
.result {
  font-size: 16px;
  display: inline-block;
  
  margin-right: 5px;
}
.res {
  max-height: 200px;
  overflow-y: auto;
}
.hall, .res{
  border-radius: 20px;
}

.orded{
  background-color: #dc3545;
  cursor: no-drop;
}

@media screen and (max-width:375px){
  .seat{
    height: 25px;
    width: 20px;
    margin-right: 2px;
  }
  .hall{
    padding: 0px!important;
  }
  .col-md-10{
    margin-top: 1rem!important;
  }
}